<section class="page-template-1">
  <section class="content-template-1">
    <% @shelters.each do |shelter| %>
      <article id="shelter-<%= shelter.id %>">
        <h2><%= link_to shelter.title, "/shelters/#{shelter.id}" %></h2>
        <p><%= shelter.address %></p>
        <p><%= shelter.city %></p>
        <p><%= shelter.state %></p>
        <p><%= shelter.zip %></p>
        <%= link_to 'Edit', "/shelters/#{shelter.id}/edit" %>
        <%= link_to 'Delete', "/shelters/#{shelter.id}", method: :delete %>
      </article>
    <% end %>
  </section>
  <%= link_to 'Create New Shelter', "/shelters/new" %>
</section>