<section class="page-template-1">
  <section>
    <%= form_tag "/shelters" do %>
      <%= label_tag :title %>
      <%= text_field_tag :title %>

      <%= label_tag :address %>
      <%= text_field_tag :address %>

      <%= label_tag :city %>
      <%= text_field_tag :city %>

      <%= label_tag :state %>
      <%= text_field_tag :state %>

      <%= label_tag :zip %>
      <%= text_field_tag :zip %>

      <%= submit_tag "Submit"%>
    <% end %>
  </section>
</section>