<section class="page-template-1">
  <section class="pet-content">
    <article id="pet-<%= @pet.id %>">
      <h2><%= @pet.name %></h2>
      <img src=<%= @pet.image %> />
      <p><%= @pet.description %></p>
      <p><%= @pet.age %></p>
      <p><%= @pet.sex %></p>
      <%= link_to @pet.shelter.title, "/shelters/#{@pet.shelter.id}" %>
    </article>
    <%= link_to 'Edit', "/pets/#{@pet.id}/edit" %>
    <%= link_to 'Delete', "/pets/#{@pet.id}", method: :delete %>
  </section>
</section>